
    	.navigation-bar{
    		background-color: #66953C;
    	}
    .center, .left, .right{
    	/*color: #FFFFFF;
      background-color: #2c5278;*/
     /*color: #2C5278;*/
    	color: #FFFFFF;
     /*background-color: #66953C;*/
    }